<!DOCTYPE html>
<html>

<head>
    <title>Property</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleRegister.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="Logo" />
            <h1>Henrique & Angelo</h1>
        </div>
        <nav>
            <a href="/api/logout">Logout</a>
            <a href="/api/property">Property</a>
            <a href="/api/event">Events</a>
            <a href="/api/ticket">Tickets</a>
            <a href="/api/client">Costumer</a>
            <a href = "/api/updateDiscount">Discounts</a>
        </nav>
    </header>


    <div class="container">
        <h1>Management Property</h1>
        <div>
            <h2>Add Property</h2>
            <form method="POST" action="/api/createProperty" enctype="multipart/form-data">
                <label for="propertyName">Name:</label>
                <input type="text" name="propertyName" id="propertyName" required />

                <label for="address">Address:</label>
                <input type="text" name="address" id="address" required />

                <label for="description">Description:</label>
                <textarea type ="textarea" name="description" id="description" required></textarea>

                <label for="capacity:">Capacity: </label>
                <input type="number" name="capacity" id="capacity" required />

                <label for="image">Choose an image:</label>
                <input type="file" id="image" name="image">

                <% if ( typeof message !== 'undefined' && message) { %>
                    <p><%= message %></p>
                <% } %>
 
                <button type="submit">Add Property</button>
            </form>

            <button><a href="/api/property/" style="text-decoration:none;">Back to property</a></button>
        </div>
    </div>